.App {
  text-align: center;
  background-image: url("./Picture/milkyway2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.Time-color{
  animation: times 4s infinite alternate;
}
@keyframes times{
  from{
    color: #61dafb;
  }
  to{
    color: red;
  }
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  animation: app-logo infinite 4s;
  animation-direction: alternate;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  position: fixed;
  background-color:aqua;
}
